.ordering-section {
  padding-block-end: clamp(3.75rem, 12vw, 10.625rem);
  .container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .section-head {
    margin-block-end: clamp(1.25rem, 4vw, 3.75rem);
  }
}
