<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alowishus Delicious</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<div class="overlay">
		<header class="header">
			<div class="container header__container">
				<a class="logo" href="#">
					<img src="images/svg/logo.svg" width="126" height="50" alt="Our company logo">
				</a>
				<nav class="nav" title="Main menu">
					<ul class="list-reset nav__list">
						<li class="nav__item"><a class="nav__link" href="#">Cafe Munu</a></li>
						<li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Find Us</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Catering</a></li>
					</ul>
				</nav>
				<div class="header__actions">
					<button class="header__cart" aria-label="Cart"></button>
					<a class="button-main header__button" href="#">Buy gift vouchers</a>
					<button class="burger" aria-label="Open menu" aria-expanded="false">
						<span class="burger__line"></span>
					</button>
				</div>
			</div>
		</header>