.cta{
	padding-bottom: 70px;
	@include small-tablet{
		padding-bottom: 60px;
	}
	@include mobile{
		padding-bottom: 45px;
	}
	&__container{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		@include small-tablet{
			row-gap: 30px;
		}
	}
	&__item{
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 30px;
		&:nth-child(1){
			grid-column: 6 span;
			@include tablet{
				grid-column: 5 span;
			}
			@include small-tablet{
				grid-column: 12 span;
			}
		}
		&:nth-child(2){
			grid-column: 8 / 13;
			@include tablet{
				grid-column: 7 / 13;
			}
			@include small-tablet{
				grid-column: 12 span;
			}
		}
		@include small-tablet{
			gap: 20px;
		}
		@include small-mobile{
			gap: 15px;
		}
	}
	&__link{
		@extend %jo-semibold;
		position: relative;
		padding-right: 34px;
		color: var(--color-shark);
		font-size: 18px;
		line-height: 1.66;
		text-transform: uppercase;
		transition: color .2s linear, padding .3s linear;
		&::after{
			content: '';
			position: absolute;
			right: 0;
			top: 48%;
			transform: translateY(-50%);
			background-image: url('../images/svg/small-arrow-right.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 30px;
			height: 30px;
		}
		@include for-desktop{
			&:hover{
				padding-right: 40px;
				color: var(--color-brown);
			}
		}
		@include small-mobile{
			font-size: 17px;
		}
	}
}