body {
  min-width: 23.438rem;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--text-size-lg);
  line-height: 1.3;
  color: var(--body-text-color-primary);
  background-color: var(--body-background-color);
  &.lock {
    overflow: hidden;
  }
}
