html {
  &.prevent-scroll {
    overflow-y: hidden;
  }
}

body {
  min-width: 20rem;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--fluid-text-md-lg);
  line-height: 1.5;
  color: var(--body-text-color);
  background: var(--body-background-color);
  background-attachment: fixed;
}

a {
  color: var(--link-color);
}

:focus-visible {
  outline: 2px solid var(--outline-color);
  outline-offset: 3px;
  transition-duration: 0s !important;
}
