html {
  &.prevent-scroll {
    overflow-y: hidden;
  }
}

body {
  min-width: 20rem;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: clamp(var(--text-size-md), 2vw, var(--text-size-lg));
  line-height: 1.5;
  color: var(--body-text-color);
  background: var(--body-background-color);
  background-attachment: fixed;
}

a {
  color: var(--link-color);
}

.swiper-slide {
  min-height: 100%;
  height: auto;
}
