@media (min-width: 62em) {
  .show-on-tablet {
    display: none;
  }

  .toggle-menu-button {
    display: none;
  }

  .hero-section {
    .body {
      max-width: 48.2258064516%;
      .description {
        max-width: clamp(28.125rem, 36vw, 33.125rem);
      }
    }

    .award-image {
      width: clamp(6.25rem, 10vw, 9rem);
    }
  }
}

@media (max-width: 61.99875em) {
  :root {
    --header-height: 4.625rem;
  }

  .hide-on-tablet {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
    position: fixed;
    inset: var(--header-height) 0 0;
    padding: 1rem 1rem 2rem;
    translate: 100% 0;
    overflow-y: auto;
    border-block-start: 1px solid var(--gray-dark);
    background-color: var(--header-menu-background-color-mobile);
    transition: translate 0.2s ease-in-out;
    nav ul {
      flex-direction: column;
      row-gap: 1.5rem;
      font-size: var(--text-size-xl);
    }
  }

  .hero-section {
    .container {
      flex-direction: column-reverse;
      align-items: center;
    }

    .award-image {
      width: clamp(5rem, 20vw, 9rem);
    }
  }
}

@media (max-width: 47.99875em) {
  .categories-section {
    &::before {
      display: none;
    }
  }
}

@media (max-width: 29.99875em) {
  .hero-section {
    .rating-box {
      bottom: 0;
      padding: 1rem;
    }
  }
}
