.container {
  width: min(
    var(--container-max-width),
    100% - (var(--container-padding-x) * 2)
  );
  margin-inline: auto;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.section-head {
  display: grid;
  row-gap: clamp(1rem, 3vw, 1.875rem);
  &.tight {
    row-gap: clamp(1rem, 3vw, 1.5rem);
  }

  &.text-center p {
    margin-inline: auto;
  }

  p {
    max-width: 37.75rem;
  }
}

.text-center {
  text-align: center;
}

.stretched-link {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}
