:root {
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --gray: #64646a;
  --gray-rgb: 100, 100, 106;
  --gray-dark: #1b1b1d;
  --gray-dark-rgb: 27, 27, 29;
  --gray-100: #eeeff1;
  --gray-200: #f3f4f5;
  --yellow: #ffb700;
  --green: #78ad16;

  --font-family-base: "Jost", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-extra-bold: 800;

  --text-size-base: 1rem;
  --text-size-md: 1.125rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.375rem;
  --text-size-2xl: 1.5rem;
  --text-size-3xl: 1.875rem;
  --text-size-4xl: 2.25rem;
  --text-size-5xl: 2.5rem;
  --text-size-6xl: 4rem;
  --text-size-7xl: 7.75rem;

  --fluid-text-6xl-7xl: clamp(var(--text-size-6xl), 8vw, var(--text-size-7xl));
  --fluid-text-5xl-6xl: clamp(var(--text-size-5xl), 5vw, var(--text-size-6xl));
  --fluid-text-4xl-5xl: clamp(
    var(--text-size-4xl),
    3.5vw,
    var(--text-size-5xl)
  );
  --fluid-text-2xl-3xl: clamp(var(--text-size-2xl), 3vw, var(--text-size-3xl));
  --fluid-text-xl-2xl: clamp(var(--text-size-xl), 3vw, var(--text-size-2xl));
  --fluid-text-lg-xl: clamp(var(--text-size-lg), 2.5vw, var(--text-size-xl));
  --fluid-text-md-lg: clamp(var(--text-size-md), 2vw, var(--text-size-lg));
  --fluid-text-base-md: clamp(
    var(--text-size-base),
    1.5vw,
    var(--text-size-md)
  );

  --border-radius-base: 1rem;
  --border-radius-md: 1.5rem;
  --border-radius-circle: 100vmax;

  --shadow-sm: 0 0.75rem 1.875rem 0 rgba(205, 209, 214, 0.28);
  --shadow-base: 0 1.25rem 3.75rem 0 rgba(163, 168, 178, 0.15);
  --shadow-md: 0 1.875rem 3.75rem 0 rgba(163, 168, 178, 0.15);

  --z-index-header: 1030;

  --container-max-width: 77.5rem;
  --container-padding-x: 0.875rem;

  --outline-color: var(--green);

  --body-background-color: linear-gradient(
    173deg,
    var(--white) 0%,
    var(--white) 0%,
    rgba(243, 244, 245, 0.2) 11.74%,
    var(--gray-200) 27.92%,
    rgba(243, 244, 245, 0) 44.79%,
    rgba(243, 244, 245, 0.68) 60.42%,
    var(--gray-200) 79.17%,
    var(--white) 100%
  );
  --body-text-color: var(--gray);

  --heading-color: var(--gray-dark);

  --button-primary-text-color: var(--white);
  --button-primary-background-color: var(--gray-dark);
  --button-primary-background-color-hover: rgba(var(--gray-dark-rgb), 0.9);

  --link-color: var(--gray-dark);

  --divider-color: rgba(var(--gray-dark-rgb), 0.1);

  --form-control-background-color: var(--white);
  --form-control-shadow: var(--shadow-sm);
  --form-control-placeholder-color: rgba(var(--gray-rgb), 0.7);

  --icon-box-text-color-hover: var(--white);
  --icon-box-background-color: var(--white);
  --icon-box-background-color-hover: var(--gray);
  --icon-box-shadow: var(--shadow-sm);
  --icon-box-primary-text-color: var(--gray-dark);
  --icon-box-secondary-text-color: var(--gray);

  --header-height: 6.5rem;
  --header-gap-x: clamp(1.5rem, 3vw, 2.5rem);
  --header-background-color-scroll: var(--gray-100);
  --header-menu-background-color-mobile: var(--gray-100);

  --toggle-menu-button-text-color: var(--gray-dark);

  --hero-background-color: var(--gray-100);
  --hero-rating-box-background-color: var(--white);
  --hero-rating-box-star-color: var(--gray-dark);

  --category-card-background-color: linear-gradient(
    152deg,
    var(--white) 0%,
    rgba(var(--white-rgb), 0) 100%
  );
  --category-card-shadow: var(--shadow-md);

  --bestseller-card-background-color: linear-gradient(
    142deg,
    var(--white) 0%,
    rgba(var(--white-rgb), 0) 100%
  );
  --bestseller-card-shadow: var(--shadow-base);
  --bestseller-card-price-text-color: var(--gray-dark);

  --customer-card-border-color: rgba(var(--gray-dark-rgb), 0.2);
  --customer-card-background-color: linear-gradient(
    142deg,
    var(--white) 0%,
    rgba(var(--white-rgb), 0) 100%
  );
  --customer-rating-star-color: var(--yellow);

  --footer-extra-link-color: var(--gray);
  --footer-brand-name-color: var(--gray-dark);

  --contact-section-link-color: var(--gray);
}
